extends wrapper

block title
  title 照片流

block content


  div.uploader-wrapper
    div.up-title 上传照片给大家看:
    form(enctype="multipart/form-data" method="post" action="/")
      input.up-select(type="file" name="photo")
      //- br
      input.up-submit(type="submit")

  
  each photo in photos
    p.photo-article
      img(src=photo.filename)