extends wrapper

block title
  title 照片流

block content


  div.uploader-wrapper
    h2 上传照片
    form(enctype="multipart/form-data" method="post" action="/")
      input.up-select(type="file" name="photo")
      input.up-submit(type="submit")

  
  each photo in photos
    p.photo-article
      img(src=photo.filename)