.masthead {
  // font-size: 100px;
  text-align: center;
}
.logo-wrapper {
  // width: 50%;
  // position: relative;
  // height: 5em;
}
.logo {
  // position: absolute;
  white-space: nowrap;
  background: $white;
  color: $black;
  padding: 0.1em 0.3em;
  // width: 200px;
  // right: -1.4em;
}